html {
    font-size: 20px;
  }
  body {
    margin-left: 130px;
    margin-right: 130px;
    background-size: 100%;
    background-image: url("../pictures/chuckleBacky.png");
    
    font-family: 'Lilita One', cursive;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

  }

  p {
    font-family: 'Lilita One', cursive;
    color: white;
    font-size: 23pt;
    margin-top: 10px;
    margin-left: 18px;
    margin-bottom: 90px;
    

  }

  .but1 {
    border-radius: 50px;
    border: none;
    background-color: #93e699;
    
    font-size: 30pt;
    color:#477349;
    font-family: 'Lilita One', cursive;
    margin-right: 10px;
    margin-left: 17px;
    margin-top: 15;
    
  }

  .but1:hover {
    background-color: #75f87e;
    

  }

  .but2 {
    border-radius: 50px;
    border: none;
    background-color: #374a39;
    
    font-size: 30pt;
    color:#93e699;
    font-family: 'Lilita One', cursive;
    margin-top: 15px;

  }
  
  .but2:hover{
    background-color: #0c410e;
    
  }

  button {
    padding: 15px 35px;
  }

  .Logo img {
    max-width: 80%;
    margin-top: 290px;
  }



  
    


 

   



  